# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

#Ignore all subdirectories of vendor.  govendor's  vendor.json governs dependencies
vendor/*/

# Video data
*.wmv
*.ppm

# Deployment data
/internal/app/deployCREMExplorer/deployTemplate/input
/internal/app/deployCREMExplorer/deployTemplate/output
/internal/app/deployCREMExplorer/deploy/*.zip