[display]
output-framerate=60
output-ppm-stream=repositoryVisualisation.ppm
screen=1

[gource]
git-branch=master
auto-skip-seconds=1
camera-mode=overview
file-idle-time=0
font-size=18
key=true
seconds-per-day=0.1428571428571429 # 1 second per week
title=Catchment Resilience Exploration Modeller
logo=images\logo.png
background-image=images\background.jpg
user-image-dir=images\avatars
highlight-dirs=true
hide=filenames
dont-stop=true